<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elon.hypesphere.product.mapper.AttrAttrgroupRelationMapper">
    <select id="selectIdsByAttrGroupIdAndAttrId" resultType="java.lang.Long">
        SELECT id
        FROM pms_attr_attrgroup_relation
        WHERE attr_group_id = #{attrGroupId}
          AND attr_id = #{attrId}
    </select>
</mapper>
